@page "/fetchdata"

<PageTitle>Weather forecast</PageTitle>

@using SOS.Data
@inject Client esAPI

<h1>Get Schedulable Classes for This Date and Mod</h1>

<p>This component demonstrates fetching and parsing es data from the enriching students servers</p>

@if (!isComplete)
{
    <select name="mods" @onchange="updateMod">
        @for(int i = 0; i < ModSlot.slotList.Count; i++)
        {
            <option value="@i">@ModSlot.slotList[i].name</option>
        }
    </select>
    <button @onclick="GetSchedulable">Get Mods</button>
}
else
{
    @foreach(Mod mod in modlist)
        {
            @if (mod.availiable)
            {
                <p>@mod.course.turnToString()</p>
            }
        }
}

@code {
    public int mod = 10;

    public bool isComplete;

    private List<Mod> modlist;

    public async void GetSchedulable()
    {
        modlist = esAPI.toSchedulableList(await new Client().fetchScheduleable(EnrichedDate.CreateEnrichedDateFromString("2022-09-19"), ModSlot.getMod(mod)), ModSlot.getMod(mod), EnrichedDate.CreateEnrichedDateFromString("2022-09-19"));
        isComplete = true;
        this.StateHasChanged();
    }
    

    public void updateMod(ChangeEventArgs e)
    {
        if(e != null)
        {
            mod = int.Parse(e.Value.ToString()) + 1;
        }
    }
}
